* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 10px;
  z-index: 2;
}

/* I am selecting the element that controls the a ref attribute */
.nav a {
  /* this removes the automatic underlines */
  text-decoration: underline 2px;
  color: lightslategray;
  text-decoration-color: lightgrey;
  text-underline-offset: 5px;
  padding: 3px;
}

nav ul {
  padding:0;
  margin: 0;
  list-style-type: none;
  z-index: 1;
}

.nav a:hover {
  color: tomato;
  text-decoration-color: rgb(243, 151, 135);
  
  opacity: .8;
  
}